
*{
	padding: 0px;
	margin: 0px;
}
ul{
	width: 100%;
	list-style: none;
	margin-top: 60px;
}
ul li{
	float: left;
	width: 50%;
	text-align: center;
	border: 1px solid #747474;
	padding: 10px 0px;
	border-top: none;
	border-left:none ;
	border-right: none;
	color: #000;
	font-size: 1rem;
}
 ul .yishenbi{
	border-right: 1px solid #747474;
	color: #1abc9c;
}
.ul{
	width: 100%;
	text-align: center;
	display: inline-block;
	
}
.li{
	width: 33.3%;
	text-align: center;
	border: none;
	margin-top: 30px;
	display: inline-block;
}
.background{
	background-color: #0090ff;
	width: 70px;
	height: 80px;
	text-align: center;
	margin: auto;
	border-radius: 10px;
}
.background img{
	margin-top: 20px;
}
.font{
	margin-top: 5px;
}
.background1{
	background-color: #ff5b5b;
	width: 70px;
	height: 80px;
	text-align: center;
	margin: auto;
	border-radius: 10px;
}
.background2{
	background-color: #5b5bff;
	width: 70px;
	height: 80px;
	text-align: center;
	margin: auto;
	border-radius: 10px;
}
