*{
	padding: 0px;
	margin: 0px;
}
ul{
	width: 100%;
	height: 160px;
	text-align: center;
	
}
ul li{
	list-style: none;
	margin-top: 50px;
}
ul li img{
	width: 100px;
}
ul li p{
	color: #333;
	font-size: 1.2rem;
	margin-top: 20px;
}
.body{
	width: 100%;
	height: 100%;

}
.ruzhidengji{
	width: 100%;
	border: 1px solid #333333;
	margin-top: 60px;
}
.ruzhibiao{
    padding: 8px 8px;
}
.ruzhibiao span{
	width: 30%;
	display: inline-block;
	color: #333333;
	font-size: 0.9rem;
}
.ruzhibiao .input{
	width: 69%;
	display: inline-block;
	float: right;
	margin-top: -6px;
	height: 30px;
	border: none;
	font-size: 0.9rem;
}
.fujian{
	width: 100%;
}
.dengjitu{
  display: inline-block;
  width: 90%;
  padding: 0px 10px 10px 10px;
 font-size: 0.85rem;
 color: #ff0000;
text-decoration: underline;
}
.dengjitu img{
	margin-right: 10px;
}

.tupian{
  float: right;
  margin-top: px;
}
.ruzhidengji1{
	width: 100%;
	border: 1px solid #333333;
	margin-top: 0px;
	margin-bottom: 10px;
}
.ruzhidengji2{
	width: 100%;
	border: 1px solid #333333;
	}
	
.ruzhidengji3{
	width: 100%;
	border: 1px solid #333333;
	border-top:none ;
	}
.ruzhidengji4{
	width: 100%;
	border: 1px solid #333333;
	border-top:none ;
	margin-bottom: 10px;
	}
		
.tijiao{
	width: 80%;
	height: 40px;
	border-radius: 20px;
	text-align: center;
	margin: auto;
	margin-left: 10%;
	background-color: #14b593;
	color: #fff;
    display: inline-block;
    margin-top: 40px;
}
.waichushijian2{
  width: 100%;
  border: 1px solid #333333;
  padding: 10px 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top:none;
}
.shijian1{
	color: #FF0000;
	float: right;
	margin-right: 15px;
}

.xian{
	margin-left: 30px;
	display: inline-block;
	height: 70px;
	
}
.xian img{
	display: block;
	margin-top: 0px;
}
	.dagou{
	margin-left: -10px;;	
	
}
.xiangmuzhongjian{
	width: 80%;
	display: inline-block;
	border: 1px solid #ccc;
	padding: 15px;
	margin-top: 20px;
}
.xiangmuzhongjian span img{
	height: 40px;
	
}
.xiangmuzhongjian1{
	width: 80%;
	display: inline-block;
	border: 1px solid #ccc;
	padding: 15px;
	margin-top: 20px;
	margin-left: 48px;
}
.xiangmuzhongjian1 span img{
	height: 40px;
	
}
.wo{
	display: inherit;
	
	
}
.wo1{
	display: block;
	font-size: 0.9rem;
	color: #333333;
}
.faqi{
	display: inline-block;
	font-size: 0.8rem;
	color: #1abc9c;
}
.shijian11{
	font-size: 0.75rem;
	margin-top: -0px;
	float: right;
	color: #aeaeae;
}
.faqi1{
	display: inline-block;
	font-size: 0.8rem;
	color:#FF0000;
}
.shijian111{
	font-size: 0.75rem;
	margin-top: -0px;
	float: right;
	color: #ccc;
}
.waichu{
	color: #333333;
}
.baoxian{
	padding: 10px 15px;
}
.baoxian span{
	font-size: 0.8rem;
	margin-top: -6px;
	display: inline-block;
	color: #FF0000;
	margin-left: 10px;
}
.ul{
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.ul li{
	width: 50%;
	float: left;
	text-align: center;
	list-style: none;
	padding: 15px 0px;
	margin-top: 40px;
	border: 1px solid #ccc;
}
.ul li span{
	width: 100%;
	display: inline-block;
	font-size: 1rem;
}
.color{
	color: #1abc9c;
}
.huishe{
	color:#ccc;
}
.ruzhibiao .input1{
  	font-size: 0.9rem;
  	width: 70%;
  	display: inline-block;
}
 .ruzhibiao .color{
	color: #1abc9c;
}
