body {
	background: #FFFFFF;
}

.avatar {
	height: 8rem;
	width: 8rem;
	margin-top: 4rem;
}

.item_register {
	height: 3.1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-bottom: 1px solid #E4E4E4;
}

.item_register_left {
	color: #A1A1A1;
	font-size: 1.5rem;
	line-height: 3.1rem;
}

.edt_gg {
	background: #FFFFFF;
	height: 3rem;
	margin-left: 1rem;
	margin-right: 1rem;
	border: 0px solid gray;
	border-radius: 5px;
}

.ggg {
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 2rem;
}

.zhuce {
	color: #1ABC9C;
}

.wangjimima {
	color: #1ABC9C;
}

.divider_login {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 3rem;
}

.line {
	height: 1px;
	flex: 1;
	background: #D7DDEC;
}

.line_text {
	color: #D7DDEC;
	margin-left: 10px;
	margin-right: 10px;
}
 
.qitadenglu {
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF;
	width: 68vw;
	padding-top: 12px;
	padding-bottom: 12px;
	border-radius: 24px;
	text-align: center;
	border:1px solid #D7DDEC;
	display: flex;
	
}

.lefticon1{
	color: #58B202;
	font-size: 2rem; 
	margin-left: 1rem;
	width: 2rem;
}
.lefticon2{
	color: #D81E06;
	font-size: 2rem; 
	margin-left: 1rem;
	width: 2rem;
}
 

.center_txtt{
	color: #999999;
	flex: 1;
}
.righticon{
	width: 2rem;
}

 